* {box-sizing: border-box;}
body {
    margin: 0;
    min-height: 100dvh;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    margin-inline: auto;
}
canvas#cvs {
    width: 0px;
    height: 0px;
    transition: all ease-out .37s;
    border: 1px solid red;
}

#inventory {
    width: 100%;
    display: flex;
    justify-content: center;
    border-collapse: collapse;

    & .inventory-item {
        border: 1px solid black;
        border-left: 0;
        width: 32px;
        height: 32px;
        
        &:first-of-type {
            border: 1px solid black;
        }
    }
}

#interractions {
    display: flex;
    flex-direction: column;
    gap: 6px;

    position: fixed;
    right: 10px;
    bottom: 10px;

    width: 200px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    & .item {
        padding: 8px;
        font-size: 16px;
        width: 100%;
        display: flex;
        border: 2px solid black;
        background-color: rgb(255, 200, 0);
        border-radius: 7px;
        opacity: 0;
        transition: opacity ease-in-out .13s;
    }
}